<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <display-name>Cool servlet</display-name>
  <description>Cool servlet</description>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>ServletFormPost</servlet-name>
    <servlet-class>pack1.ServletFormPost</servlet-class>
    <init-param>
      <param-name>param1</param-name>
      <param-value>value1</param-value>
    </init-param>
    <init-param>
      <param-name>param2</param-name>
      <param-value>value2</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletFormPost</servlet-name>
    <url-pattern>/ServletFormPost</url-pattern>
  </servlet-mapping>
</web-app>